<html>
<head>
<title>404 Error</title>
<style type="text/css">
blink {
  -webkit-animation: blink 1s step-end infinite;
  -moz-animation: blink 1s step-end infinite
  -o-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite
}

@-webkit-keyframes blink {
  67% { opacity: 0 }
}

@-moz-keyframes blink {
  67% { opacity: 0 }
}

@-o-keyframes blink {
  67% { opacity: 0 }
}

@keyframes blink {
  67% { opacity: 0 }
}

</style>
</head>

<body>

  <div style="font-family: monospace">
    <b>/var/log%</b> tail access.log<br/>
    "GET / HTTP/1.1" 404 "Mozilla/5.0 WebKit/537.36 (KHTML, like Gecko): 404 Error<br/>
    <b>/var/log%</b> <blink>_</blink><br/>
  </div>
</body>
</html>

