<!DOCTYPE html>
<html>
<head>
 <title>mda crypt</title>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 <link rel="stylesheet" type="text/css" href="/static/css/mda.css">
 <script src="static/js/aes.js"></script>
 <script src="static/js/mda.js"></script>
 <script src="static/js/forge-sha256.min.js"></script>
 <script src="static/js/clipboard.min.js"></script>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


</head>
<body>

<!-- content -->

<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand" href="/readme">/readme</a>
  <form class="form-inline" autocomplete="off" action="/" method="GET">
    <input class="form-control mr-sm-2" type="search" name="uuid" maxlength="64" pattern="^[a-zA-Z0-9]+$" placeholder="uuid">
    <input class="form-control mr-sm-2" type="password" name="password" maxlength="64" pattern="^[a-zA-Z0-9]+$" placeholder="password">
    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">get</button>
  </form>
</nav>


<div class="container h-100">

{% extends "layout.html" %}

</div>


<div class="container h-100">
{% block body %}
    <div class="row align-items-center h-100">
        <div class="col-7 mx-auto">

<form method="POST" autocomplete="off" action="/">
  <div class="form-group">
    <label for="textarea">Text</label>
    <textarea class="form-control" id="textarea" required oninput="mda_crypt()" rows="8"></textarea>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" disabled maxlength="64" pattern="^[a-zA-Z0-9]+$" oninput="mda_crypt()" id="password" placeholder="[a-zA-Z0-9]{0,32} (if the field is empty = autogenerate)">
  </div>
  <div class="form-group">
    <label for="crypt_textarea">Encrypted text</label>
    <textarea class="form-control" name="crypt_textarea" required readonly id="crypt_textarea" rows="3"></textarea>
  </div>


  <div class="form-group custom-control custom-checkbox custom-control-inline">
    <input type="checkbox" class="form-control custom-control-input" name="need_delete" checked id="need_delete">
    <label class="custom-control-label" for="need_delete">Delete after reading</label>
  </div>
  <div class="form-group custom-control custom-checkbox custom-control-inline">
    <input type="checkbox" class="form-control custom-control-input" name="include_password" checked id="include_password" onclick="document.getElementById('password').disabled=this.checked;">
    <label class="custom-control-label" for="include_password">Quick link (uncheck to enter a password)</label>
  </div>

  <button type="submit" onclick="mda_submit()" class="btn btn-block btn-info">Upload&Publish</button>
</form>

</div>
</div>
</div>

{% endblock %}

<!-- content -->

</body>
</html>