<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="/static/jquery.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/custom.js"></script>
    <link href="/static/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/static/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/static/custom.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="cover">
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"><span>crypt v1.3</span></a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">

                    </li>
                </ul>
                <button class="btn btn-warning navbar-btn navbar-right" id="create">Create</button>
            </div>
        </div>
    </div>
    <div class="cover-image"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Private recordings -&nbsp;easy to write &amp; share</h1>
                <br>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal" role="form" id="create-form" method="post">
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label for="uuid" class="control-label">Message ID:</label>
                        </div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="uuid"
                                   placeholder="8a0c1722b227489388497600ecf8dae9">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label for="password" class="control-label">Password</label>
                        </div>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" name="password" placeholder="7gzpWKFU2V89">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-block btn-success">Read message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- ========== Modal start ========== -->
    <div class="modal" id="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Enter your message</h4>
                </div>
                <div class="modal-body">
                    <textarea class="form-control rounded-0 textarea-message" id="message" rows="10"></textarea>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" placeholder="Leave this field blank if you need to generate a password.">
                    </div>
                    <div class="form-group">
                        <a class="btn btn-primary btn-block" id="send">Send</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ========== Modal end ========== -->
</div>
</body>
</html>