<!DOCTYPE html>
<html>
<head>
    <title>Enter password</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/mda.css">
</head>
<body>

<!-- content -->

<div class="container h-100">

  <div class="row align-items-center h-100">
    <div class="col-9 mx-auto">
      {% extends "layout.html" %}
    </div>
  </div>


{% block body %}
  <div class="row align-items-center h-100">
    <div class="col-5 mx-auto">
        <!-- form -->
        <form method="POST" action="/">
    <div class="form-group">
    <label for="uuid">uuid</label>
    <input type="text" class="form-control" name="uuid" maxlength="32" minlength="32" pattern="^[a-zA-Z0-9]+$" required id="uuid" placeholder="a180d4409d7646eb9318f59de5c1e170">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" maxlength="32" pattern="^[a-zA-Z0-9]+$" required id="password" placeholder="[a-zA-Z0-9]{0,32} (no spaces or special chars)">
  </div>
  <button type="submit" class="btn btn-block btn-info">view note</button>
</form>

        <!-- form -->
    </div>
</div>
</div>
{% endblock %}
<!-- content -->

</body>
</html>